.containerElementIssueList {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.containerElementIssueList span {
    display: flex;
    justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.projectTitle {
    width: 60px;
}

.userId {
    width: 90px;
}

.state {
    width: 80px;
}

.title {
    width: 300px;
}

.date {
    width: 270px;
    margin-left: auto;
}