.page {

}

.sideMenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 224px;
    background-color: #F4F1EB;
    overflow-y: auto;
    overflow-x: hidden;
}

.topBanner {
    position: fixed;
    top: 0;
    left: 224px;
    height: 56px;
    width: 100%;
    background-color: #F4F1EB;
    display: flex;
    align-items: center;
}

.main {
    position: fixed;
    top: 56px;
    left: 224px;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

.sideMenu button {
    background: transparent;
    width: 224px;
    height: 40;
    color: #828282;
}

.buttonUsernameContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonContent {
    display: flex;
    justify-content: left;
    align-items: center;
}

.buttonLabel {
    padding-left: 10px;
}

#userName {
    color: black;
}

#yourTeam {
    color: #BEA18D;
    height: 23px;
    width: 154px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 18px;
}

#menuName {
    color: #BEA18D;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}