.sideMenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 224px;
    padding-left: 10px;
    padding-top: 8px;
    background-color: #F4F1EB;
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    position: fixed;
    top: 0px;
    left: 224px;
    height: 100%;
    width: calc(100% - 224px);
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.sideMenu button {
    background: transparent;
    width: 204px;
    height: 40;
    color: #828282;
}

.topBanner {
    position: fixed;
    width: 100%;
    height: 56px;
    background: #F4F1EB;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bannerName {
    height: 29px;
    color: #BEA18D;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 15px;
}

.topBanner button {
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background: #BEA18D;
}

.pageBody {
    position: fixed;
    top: 56px;
    left: 224px;
    height: calc(100% - 56px);
    width: calc(100% - 224px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.filterButton {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 100%;
    height: 0.5px;
    background: #FFF;
}

#buttonUsernameContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonContent {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#newIssueButton {
    display: flex;
    width: 182px;
    height: 45px;
    padding: 8px 16px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: left;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background: #BEA18D;
    color: black;
}

#newIssueLabel {
    padding-left: 24px;
}

#active {
    color: black;
}

#userName {
    color: black;
}

#yourTeam {
    color: #BEA18D;
    height: 23px;
    width: 154px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 16px;
}

#menuName {
    color: #BEA18D;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}