.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ModalContent {
    width: 819px;
    height: 475px;
    position: absolute;
    background: #F4F1EB;
    padding: 30px;
    border-radius: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-id {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.modal-close {
    align-items: end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #BEA18D;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

#title,
#content {
    width: 100%;
    height: 100%;
    color: black;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    border: transparent;
}

#tag {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    /* 글자 색 변경 */
}

#title::placeholder,
#content::placeholder{
    color: #BEA18D;
}
#tag::placeholder {
    color: black;
    /* placeholder 글자 색 변경 */
}

#content {
    height: 100px;
    resize: none;
}

.submit-button {
    width: 127px;
    height:26px;
    padding: 10px;
    background: #BEA18D;
    border: none;
    border-radius:8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background: transparent;
    text-align: center;
}

.message {
    margin-top: 10px;
    color: red;
    /* 메시지 색상 */
}