.containerIssueListElement {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.projectTitle {
    display: flex;
    justify-content: left;
    width: 80px;
}

.devId {
    display: flex;
    justify-content: left;
    width: 60px;
}

.state {
    display: flex;
    justify-content: left;
    width: 40px;
}

.title {
    display: flex;
    justify-content: left;
    width: auto;
}

.date {
    width: 220px;
    margin-left: auto;
    display: flex;
}