.backToListButton {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    height: 40px;
    background: transparent;
    color: white;
}

.containerIssueDetailed {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    color: white;
    gap: 10px;
}

.containerChangeState {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.containerAssignDev {
    gap: 10px;
    display: flex;
    align-items: center; 
}

.containerAssignDev input {
    background: #F4F1EB;
    width: 200px;
    box-sizing: border-box;
    height: 40px;
    flex-shrink: 0;
    font-size: 15px;
    padding: 15px;
    border: transparent;
    border-radius: 8px;
    color: #828282; 
}

.containerAssignDev button, .containerChangeState button{
    background: #F4F1EB;
    color: #828282;
    border-radius: 10px;
}

.commentBox input{
    background: #F4F1EB;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    flex-shrink: 0;
    font-size: 15px;
    padding: 15px;
    border: transparent;
    border-radius: 8px;
    color: #828282;
}

.toggleCommentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 40px; 
    background: transparent;
    color: white;
}

.issueTitle {
    font-size: 30px;
}

.description {
    height: 100px;
}

.activity {
    font-size: 25px;
}