.backToListButton {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    height: 40px;
    background: transparent;
    color: white;
}

.containerIssueDetailed {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 15px;
}

.containerAssignDev {
    gap: 20px;
    display: flex;
    align-items: center;
}

.commentBox input{
    background: #F4F1EB;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
    flex-shrink: 0;
    font-size: 15px;
    padding: 15px;
    border: transparent;
    border-radius: 8px;
    color: #828282;
}

.toggleCommentButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 40px; 
    background: transparent;
    color: white;
}
