.wrapper0{
    display: flex;
    flex-direction: row;
}

.wrapper1{
    width: 391px;
    height: 492px;
    background:#BEA18D;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 619;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.register-link a{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.wrapper2{
    width: 545px;
    height: 492px;
    background: #FFF;;
    color: black;
    padding: 95px;
    
}

.wrapper2 img{
    background-color: transparent;
}

.wrapper2 .input-box{
    position: relative;
    width: 355px;
    height: 43px;
    background: #F4F1EB;
    margin-bottom: 24px;
    color: #828288;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: black;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 619;
    line-height: normal;
    padding: 20px;
    

}

.wrapper2 button{
    border-radius: 0;
    width: 355px;
    height: 63px;
    flex-shrink: 0;
    background:#BEA18D;
    color: black;
}

.wrapper2 .dropdownbox{
    position: relative;
    width: 355px;
    height: 43px;
    background: #F4F1EB;
    margin-bottom: 24px;
    color: #828288;
}