.containerElementCommentList {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.containerElementCommentList span {
    display: flex;
    justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.cUserId {
    width: 80px;
}

.cContent {
    width: 420px;
}

.cDate {
    width: 270px;
    margin-left: auto;
}
